<div class="modal-editor-left"></div>
<div class="modal-editor-right">
	<div class="modal-editor-wrapper clearfix">
		<div class="modal-editor-options">
			<h1 class="modal-editor-title">Add text</h1>
			<div class="modal-editor-option modal-editor-text">
				<input class="i8-input" type="text" ng-model="modalEditorCtrl.iconText">
			</div>
			<div class="modal-editor-option modal-editor-size">
				<input class="i8-input" type="number" ng-model="modalEditorCtrl.fontSize">
			</div>
			<div class="modal-editor-option modal-editor-checkbox">
				
				<input id="check_bold" type="checkbox"
				ng-model="modalEditorCtrl.fontWeight"
				ng-true-value="'bold'"
				ng-false-value="'normal'"/>
				<label for="check_bold"> Bold</label>
				
			</div>
			<div class="modal-editor-option modal-editor-color">
				<input type="color"  ng-model="modalEditorCtrl.fontColor">
			</div>
			<div class="modal-editor-option modal-editor-fonts i8-select">
				<select ng-model="modalEditorCtrl.fontFamily">
					<option value="helvetica_light-webfont.ttf">Helvetica light</option>
					<option class="font-zhizn" value="ZhiznRegular.ttf">Zhizn</option>
				</select>
			</div>
		</div>
		<div class="modal-editor-canvas-containe">
			<paper-editor
				icon-text="modalEditorCtrl.iconText"
				font-weight="modalEditorCtrl.fontWeight"
				font-size="modalEditorCtrl.fontSize"
				font-color="modalEditorCtrl.fontColor"
				font-family="modalEditorCtrl.fontFamily"
			paper-editor-ctrl="modalEditorCtrl.paperEditorCtrl"></paper-editor>
		</div>
	</div>
	<div class="modal-editor-action clearfix">
		<a class="i8-btn modal-editor-btn" ng-click="modalEditorCtrl.paperEditorCtrl.exportSvg('exportSvg')">Apply</a>
	</div>
</div>